@model ValidateRecaptchaV3TaskViewModel

<div class="mb-3" asp-validation-class-for="Action">
    <label asp-for="Action">@T["Action"]</label>
    <input asp-for="Action" class="form-control" autofocus="autofocus" />
    <span asp-validation-for="Action"></span>
    <span class="hint">@T["The action name of the challenge that is validated. It is recommended that you specify an action name to each challenge."]</span>
</div>

<div class="mb-3" asp-validation-class-for="ScoreThreshold">
    <label asp-for="ScoreThreshold">@T["Score Threshold"]</label>
    <input asp-for="ScoreThreshold" class="form-control" step="0.1" />
    <span asp-validation-for="ScoreThreshold"></span>
    <span class="hint">@T["Valid values are in the range of 0-1. If the score is below the defined value the task will trigger the 'Invalid Score' outcome."]</span>
</div>

<div class="mb-3">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" asp-for="FailOnBadScore" />
        <label class="form-check-label" asp-for="FailOnBadScore">@T["Fail the task on a score below the threshold?"]</label>
        <span class="hint dashed">@T["If checked, the task will trigger the 'Invalid' outcome."]</span>
    </div>
</div>